*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgb(0, 0, 59), rgb(56, 0, 117));
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
.c{
    color: azure;
    padding: 30px;

}
h1{
    margin: 20px;
    font-size: 30px;
}
p{
    margin: 20px;
}
.main::after{
    content: '';
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to top,rgb(0, 0, 59),transparent);
}
a{
    text-decoration: none;
    color: azure;

}
header{
    position: absolute;
    width: 90%;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}
header .logo{
    font-size: 30px;
}
header ul{
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}
header ul li{
    margin: 30px;
}
header ul li a{
    padding: 6px 15px;
    transition: 0.5s;
    border-radius: 20px;
}
header ul li a:hover, .active{
    background: azure;
    color: darkblue;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.main img{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.name {
    color: azure;
    font-size: 25px;
    transform: translateY(-140px);
}
#moon{
    mix-blend-mode: screen;
    transform: translateY(80px);
    
}

